<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" action="/mvc/user/create">
		<div> <label>이름 : </label> <input name="name" type="text"></div>
		<div> <label>생년월일 : </label> <input name="birthday" type="text"></div>
		<div> <label>이메일 : </label> <input name="email" type="text"></div>
		<div> <label>자기소개 : </label></div>
		<div> <textarea name="introduce" cols="50" rows="7"></textarea></div>
		<button type="submit">추가</button>
	</form>
</body>
</html>