<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 변수와 조건문</title>
</head>
<body>
	<h3>Thymeleaf 변수와 조건문</h3>
	
	<h3>1. 변수</h3>
	
	<div th:with="number = 100">
		<h4 th:text="${number}"></h4>
		<h4>[[${number}]]</h4> <!-- el문을 사용하지 않는 방법 -->	
		<!-- thymeleaf의 방향성과는 맞지않아 지양한다 -->
	</div>
	<!-- 선언된 변수는 해당 태그 내부에서만 사용가능하다(지역변수) -->
	<h4 th:text="${number}">안바뀜</h4>
	
	<h3>2. 태그 없이 thymeleaf 활용하기</h3>
	<!-- block 태그는 최종 결과에 포함되지 않는다 -->
	<!-- block 태그는 랜더링 되지 않는다 -->
	<th:block th:with="number1 = 200, number2 = 300">
		<h4 th:text="${number1}"></h4>
		<h4 th:text="${number1 + number2}"></h4>
		<!-- 결과 : 두값의 합 -->
		<h4 th:text="'결과 : ' + ${number1 + number2}"></h4>
		<h4>결과 : [[${number1 + number2}]]</h4>
		<h4 th:text="|결과 : ${number1 + number2}|"></h4>
	</th:block>
	
	<h3>3. 태그 나타내기</h3>
	<!-- html escape 처리 -->
	<div th:text="'<b>진한글씨</b>'"></div>
	<!-- html escape 처리하지 않는다 -->
	<div th:utext="'<b>진한글씨</b>'"></div>
	
	<h3>4. 조건문</h3>
	<th:block th:with="age = 18">
		<h4 th:if="true">true 일떄만 태그가 포함(랜더링) 된다.</h4>
		<h4 th:if="${age < 20}">미성년자입니다</h4>
	</th:block>
	
	<h3>4. switch 문</h3>
	<!--  봄 따듯하다, 여름 덥다, 가을 시원하다, 겨울 춥다.  -->
	<th:block th:with="season = '겨울'">
		<div th:switch="${season}">
			<h4 th:case="봄">따뜻하다</h4>
			<h4 th:case="여름">덥다</h4>
			<h4 th:case="가을">시원하다</h4>
			<h4 th:case="겨울">춥다</h4>
			<h4 th:case="*">잘못된 계절이름 입니다.</h4>
		</div>
	
	</th:block>
	
</body>
</html>